<div id="footer" class="">
      <div id="footer-bis-copyright" class="col-sm-6">
        © 2019 Best in Snow Awards.<br />
        All rights reserved. All images are copyright protected and are the property of
        their respective owner.
      </div>
      <div id="footer-bis-powered-by" class="col-sm-6">
        <a href="https://www.liftopia.com" target="_blank" rel="noopener noreferrer">
          <img role="presentation" src="/images/powered-by-liftopia-logo.png" />
        </a>
      </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
	 
	 <script>
var svg = document.getElementsByTagName("svg")[0];
var bbox = svg.getBBox();
var viewBox = [bbox.x, bbox.y, bbox.width, bbox.height].join(" ");
svg.setAttribute("viewBox", viewBox);
prompt("Copy to clipboard: Ctrl+C, Enter", svg.outerHTML);
</script>
	 
</body>
</html>