<div id="footer" class="">
      <div id="footer-bis-copyright" class="col-sm-6">
        © 2017 Best in Snow Awards.<br />
        All rights reserved. All images are copyright protected and are the property of
        their respective owner.
      </div>
      <div id="footer-bis-powered-by" class="col-sm-6">
        <a href="https://www.liftopia.com" target="_blank" rel="noopener noreferrer">
          <img role="presentation" src="/images/powered-by-liftopia-logo.png" />
        </a>
      </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
	 
	 
</body>
</html>