<div >
	<div id="header-wrapper" class="container-fluid">
	  <header class="row">
		  <div class="col-xs-12  hidden-md center-block visible-xs-block mobile-logo">
			<a href="/">
			  <img role="presentation" id="bis-logo-stacked" src="/images/best-in-snow-new-header-logo-mobile.png" />
			</a>
		  </div>
		  <hr/>
		  <!--<div class="col-sm-12 center-block visible-xs-block">
			<a href="/">
			  <img role="presentation" id="bis-powered-by-stacked" src="/images/powered-by-liftopia-logo.png" />
			</a>
		  </div>  -->             
		  <div class="col-sm-7 hidden-xs lockup-horizontal">
			<a href="/"><img src="/images/best-logo.png" alt="best in snow">
			</a>
		  </div>
	  </header>
	</div>
</div>