<div id="methodology" class={(content !== 'methodology' ? 'hidden' : '')}>
						<section class="preamble">
							<h1>{{page.title}}</h1>
							<p>{{ page.desc }}</p>
						</section>
						<hr/>
						<section class="row step-one">
							<h2>Step 1: Who?</h2>
							<div class="col-xs-12 col-sm-6">
								<img src='/images/infographic_svgs/SnowboarderSkier_icon.svg'/>
								<p>Thousands of passionate <strong>skiers and snowboarders</strong></p>
							</div>
							<div class="col-xs-12 col-sm-6">
								<img src='/images/infographic_svgs/SkiAreasBest_icon.svg'/>
								<p>What those customers say <strong>ski areas do best</strong></p>
							</div>
							<div class="col-xs-12 line line-one"></div>
						</section>
						<section class="row step-two">
							<h2>Step 2: How?</h2>
							<div class="col-xs-12 line top col-small-hidden"></div>
							<div class="col-xs-12 col-sm-4 graph guests">
								<div class="img graph-img"></div>
								<p>Survey <strong>Results</strong></p>
								<hr/>
								<div class="img guests-img"></div>
								<p>Number of <strong>ski area guests</strong></p>
							</div>
							<div class="col-xs-12 line line-two"></div>       
							<div class="col-xs-12 col-sm-4 graph acres">
								<div class="img graph-img"></div>
								<p>Survey <strong>Results</strong></p>
								<hr/>
								<div class="img acres-img"></div>
								<p><strong>Skiable</strong> acres</p>
							</div>       
							<div class="col-xs-12 line line-three"></div>     
							<div class="col-xs-12 col-sm-4 graph cost">
								<div class="img graph-img"></div>
								<p>Survey <strong>Results</strong></p>
								<hr/>
								<div class="img cost-img"></div>
								<p><strong>Cost</strong> of skiing</p>
							</div>
							<div class="line middle col-xs-12 col-small-hidden"></div>
							<div class="col-xs-12 line"></div>
							<div class="col-xs-12 col-small-hidden subdivider"></div>
							<div class="col-xs-12 algorithm">
								<div class="img alg-img"></div>
								<p>Proprietary <strong>Algorithm</strong></p>
								<p>Liftopia's proprietary dataset levels the playing field between big and small resorts in order to uncover the true top ski areas across North America based on what matters most to consumers.</p>
							</div>
							<div class="col-xs-12 line bottom col-small-hidden"></div>
						</section>
						<div class="col-xs-12 line" style="marginTop: -25px"></div>
						<section class="row step-three">
							<h2>Step 3: What?</h2>
							<div class="col-xs-12 col-sm-6 map">
								<p>Best in <strong>North America</strong></p>
							</div>
							<div class="line"></div>
							<div class="col-xs-12 col-sm-6 icons">
								<div class="icon-grid">
									<div class="icon sign-green"></div>
									<div class="icon family"></div>
									<div class="icon sign"></div>
									<div class="icon ski-lift"></div>
									<div class="icon snow"></div>
									<div class="icon wallet"></div>
								</div>
								<p>Best by <strong>Category</strong></p>
							</div>
							<div class="line"></div>
							<div class="background-lines"></div>
							<div class="col-xs-12 overall-winners">
								<img src="/images/infographic_svgs/BIS_Badge_WINNER2019.png	" />
								<p>The winners are the best, <strong>regardless of size.</strong></p>
							</div>
							<hr/>
						</section>
						<div class="resort-information">
							<h2>Comparing the Raw Data</h2>
							<div class="blurb">
								<p>When we look at the sheer volume of ratings, all of the great large resorts that we know and love are in the list. The resorts that made the top 10 Overall Best in Snow when weighted by our algorithm (skier and snowboarder visits annually, acreage, average true cost of skiing, and uphill capacity) were the ones that have an outsized group of passionate customers.</p>
							</div>
							<div class="data">
								<ul class="raw-data">
									
									<li>Raw Data Top 10</li>
									{% for raw in site.data.methodology.methodology.RawData %}
										<li>{{ raw.name }}</li>
									{% endfor %}
								</ul>
								<ul class="top-10">
									<li>Best in Snow Overall Top 10</li>
									{% for top10 in site.data.methodology.methodology.OverallTop10 %}
										<li>{{ top10.name }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<a class="find-out-more" href="mailto:partners@liftopia.com">Click here to find out more &#x27f6;</a>
					</div>