<div class="{% if cur_resions == 'north-america' and cur_SecId == 'overall' %} process {% else %} process hidden {% endif %}">
              <div class="surveys">
                <img src="/images/infographic_svgs/Survey_icon_lightGrey.svg" class="more-info-img"/>
                <!--<span>10,000+ Surveys  {{cur_resions}}  {{cur_SecId}}</span>-->
                <span>Thousands of Surveys</span>
              </div>
              <div class="symbol">
               &#43;
              </div>
              <div class="algorithm">
                <img src="/images/infographic_svgs/Algorithm_icon_Light.svg" class="more-info-img"/>
                <span>Proprietary Algorithm and Dataset</span>
              </div>
              <div class="symbol">
               &#61;
              </div>
              <div class="award">
                <img src="/images/infographic_svgs/BIS_Badge_WINNER2019.png" class="more-info-img"/>
                <span>Best in Snow Award</span>
              </div>
            </div>
			
