$blue-10: #0B85C8;
$blue-8: #337ab7;
$blue-6: #6DB6DE;
$footer-blue: #34454E;
$blue-4: #4DB2E9;

$charcoal-10: #1B2731;
$charcoal-5: #34454E;
$charcoal-3: #BABEC1;
$charcoal-2: #D1D4D6;
$charcoal-4: #EDF0F2;
$charcoal-1: #DCE2E4;


$lime-green-10: #ABD037;
$lime-green-6: #CDE387;

$cta-orange: #F47521;


